#root{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    width: 450px;
    height: 500px;
}
.wrapper button{
    width: 100px;
    height: 100px;
}
#display{
    border: 1px solid black;
}